In [5]:
import pandas
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
data = pandas.read_csv('C:/Users/ksunt/Desktop/machinLearn/train.csv', index_col='PassengerId')
data.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'SibSp', 'Parch'], axis = 1, inplace = True)
data.at[data['Sex'] == 'male', 'Sex'] = 0
data.at[data['Sex'] == 'female', 'Sex'] = 1
data.dropna(inplace = True)
data.head()

             Survived  Pclass  Sex   Age     Fare
PassengerId
1                   0       3    0  22.0   7.2500
2                   1       1    1  38.0  71.2833
3                   1       3    1  26.0   7.9250
4                   1       1    1  35.0  53.1000
5                   0       3    0  35.0   8.0500

In [9]:
train = data[['Fare', 'Age', 'Sex', 'Pclass']]
target = data['Survived']
clf = DecisionTreeClassifier(random_state=241)
clf = clf.fit(train, target)
importances = clf.feature_importances_
importances#насколько важен каждый признак  'Fare', 'Age', 'Sex', 'Pclass'

array([0.30072722, 0.25124241, 0.30051221, 0.14751816])